<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <th:block th:replace="~{layout_for_all :: head_bootstrap}" ></th:block>

</head>
<body>
<p>
    <a href="/shop">Shop</a>
</p>
<center>
    <th:block th:replace="~{layout_for_all :: nav_bootstrap}" ></th:block>


    <h1>Your Cart</h1>

    <!--    <h3>Total Items: <span th:text="${cart.countItemQuantity()}"></span></h3>-->
    <!--    <h3>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h3>-->
    <table border="1">
        <tr>
            <th></th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <tr th:each="product: ${cart.products}">
            <td>
                <img th:src="${product.getKey().img}"  width="80px" height="80px">
            </td>
            <td th:text="${product.getKey().name}"></td>
            <td>
                <a id="decrease_button" th:href="@{/sub/__${product.getKey().id}__(action='cut')}" th:text="${'-'}"></a>
                <span th:text="${product.getValue()}"></span>
                <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"
                   th:text="${'+'}"></a>
            </td>
            <td th:text="${product.getKey().price}"></td>
            <td th:text="${cart.countTotalPayment()}"></td>
        </tr>
    </table>
</center>

<th:block th:replace="~{layout_for_all :: footer_bootstrap}"></th:block>
<th:block th:replace="~{layout_for_all :: js_bootstrap}"></th:block>

</body>
</html>