<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <th:block th:replace="~{layout_for_all :: head_bootstrap} "></th:block>
</head>
<body>
<th:block th:replace="~{layout_for_all ::nav_bootstrap }"></th:block>
<center>
    <h2>Customer list</h2>
    <h3>
        <a th:href="@{/customers/create}">Create customer </a>
    </h3>

    <p th:text="${message}" style="color: red"></p>

    <form action="/customers">
        <input type="text" placeholder="search name" name="name">
        <input type="text" placeholder="search address" name="address">
        <select name="customerType" >
            <option value="-1">Customer Type</option>
            <option th:each=" cusType : ${customerTypes}" th:value="${cusType.id}" th:text="${cusType.nameCusType}"></option>
        </select>
        <input type="submit" value="Search">
    </form>

    <br>
    <table class="table" border="1">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Customer name</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Id Card</th>
            <th scope="col">Phone number</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Customer Type</th>
            <th scope="col">Detail</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customers : ${customer}">
            <td th:text="${customers.nameCustomer}"></td>
            <td th:text="${customers.dateOfBirth}"></td>
            <td th:text="${customers.gender}"></td>
            <td th:text="${customers.idCard}"></td>
            <td th:text="${customers.phoneNumber}"></td>
            <td th:text="${customers.email}"></td>
            <td th:text="${customers.address}"></td>
            <td th:text="${customers.customerType.nameCusType}"></td>
            <!--            <td>-->
            <!--                <span th:if="${products.typeProduct}" th:text="${products.typeProduct.typeName}"></span>-->
            <!--                <span th:unless="${products.typeProduct}" th:text="${products.typeProduct}"></span>-->
            <!--            </td>-->
            <td><a>Detail</a></td>
            <td><a th:href="@{/customers/edit(id=${customers.idCustomer})}">Edit</a></td>
            <td><a th:href="@{/customers/delete(id=${customers.idCustomer})}">Delete</a></td>
        </tr>
        </tbody>
    </table>

    <!--    <div>-->
    <!--        <a th:if="${productList.hasPrevious()}"-->
    <!--           th:href="@{/product(page=${productList.number - 1}, keyword=${keyVal},  keyword=${desVal})}">-->
    <!--            Previous</a>-->

    <!--        <span th:text="${productList.number + 1}"></span>-->
    <!--        /-->
    <!--        <span th:text="${productList.totalPages}"></span>-->

    <!--        <a th:if="${productList.hasNext()}"-->
    <!--           th:href="@{/product(page=${productList.number + 1},  keyword=${keyVal},keyword=${desVal})}">-->
    <!--            Next-->
    <!--        </a>-->
    <!--    </div>-->


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item ">
                <a class="page-link" th:if="${customer.hasPrevious()}"
                   th:href="@{/customers(page=${customer.number - 1},  keyword=${nameVal},keyword=${addresss} ,keyword=${cusType})}">Previous</a>
            </li>
            <li class="page-item">
                <span class="page-link" th:text="${customer.number + 1}"></span>
            </li>
            <li class="page-link">/</li>
            <li class="page-item">
                <span class="page-link" th:text="${customer.totalPages}"></span>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${customer.hasNext()}"
                   th:href="@{/customers(page=${customer.number + 1}, keyword=${nameVal},keyword=${addresss} ,keyword=${cusType})}">Next</a>
            </li>
        </ul>
    </nav>

    <th:block th:replace="~{layout_for_all ::  footer_bootstrap}"></th:block>
    <th:block th:replace="~{layout_for_all :: js_bootstrap}"></th:block>
</center>
</body>
</html>