<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Motorcycle</title>
</head>
<body>
<center>
    <h3>Create blog</h3>
    <h2>
        <a th:href="@{/blogUD}"> Back to blog List</a>
    </h2>

    <form th:action="@{/blogUD/save}" th:object="${blogDto}" method="post">
        <fieldset>
            <legend>Form create product</legend>
            <table border="1">
                <tr>
                    <th>Blog Name</th>
                    <td><input type="text" th:field="*{nameBlog}"></td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>
                        <textarea th:field="*{contentBlog}" cols="40" rows="7"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>
                        <select th:field="*{category}">
                            <option th:each="category : ${categoryList}" th:value="${category.id}"  th:text="${category.nameCategory}" ></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Save"></td>
                </tr>
            </table>
        </fieldset>
    </form>
</center>
</body>
</html>