<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <th:block th:replace="~{layout_for_all :: cdn-bootstrap-4} "></th:block>
</head>
<body>
<th:block th:replace="~{layout_for_all :: nav-cdn }"></th:block>

<center>
    <h3>Create Service</h3>
    <div class="table">
        <form th:action="@{/services/save}" th:object="${serviceDto}" method="post">
            <fieldset>
                <legend>Form create product</legend>
                <table>
                    <tr>
                        <th>Name</th>
                        <td><input class="form-control" type="text" th:field="*{svName}"></td>
                        <td><p style="color: red" th:if="${#fields.hasErrors('svName')}" th:errors="*{svName}"></p></td>
                    </tr>
                    <tr>
                        <th>Service area</th>
                        <td><input class="form-control" type="text" th:field="*{svArea}"></td>
                        <td><p style="color: red" th:if="${#fields.hasErrors('svArea')}" th:errors="*{svArea}"></p></td>
                    </tr>
                    <tr>
                        <th>Service cost</th>
                        <td><input class="form-control" type="text" th:field="*{svCost}"></td>
                        <td><p style="color: red" th:if="${#fields.hasErrors('svCost')}" th:errors="*{svCost}"></p></td>
                    </tr>
                    <tr>
                        <th>Max people</th>
                        <td><input class="form-control" type="text" th:field="*{maxPeople}"></td>
                        <td><p style="color: red" th:if="${#fields.hasErrors('maxPeople')}" th:errors="*{maxPeople}"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Standard room</th>
                        <td><input class="form-control" type="text" th:field="*{standardRoom}"></td>
                        <td><p style="color: red" th:if="${#fields.hasErrors('standardRoom')}"
                               th:errors="*{standardRoom}"></p></td>
                    </tr>
                    <tr>
                        <th>Description other convenience</th>
                        <td><input class="form-control" type="text" th:field="*{descriptionOtherConvenience}"></td>
                        <td><p style="color: red" th:if="${#fields.hasErrors('descriptionOtherConvenience')}"
                               th:errors="*{descriptionOtherConvenience}"></p></td>
                    </tr>
                    <tr>
                        <th>Pool area</th>
                        <td><input class="form-control" type="text" th:field="*{poolArea}"></td>
                        <td><p style="color: red" th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"></p></td>
                    </tr>
                    <tr>
                        <th>Number floor</th>
                        <td><input class="form-control" type="text" th:field="*{numberFloor}"></td>
                        <td><p style="color: red" th:if="${#fields.hasErrors('numberFloor')}"
                               th:errors="*{numberFloor}"></p></td>
                    </tr>
                    <tr>
                        <th>Rent type</th>
                        <td>
                            <select class="form-control" th:field="*{rentType}">
                                <option th:each="r : ${rentType}"
                                        th:value="${r.id}"
                                        th:text="${r.rentTypeName}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Service type</th>
                        <td>
                            <select class="form-control" th:field="*{serviceType}">
                                <option th:each="s : ${serviceType}"
                                        th:value="${s.id}"
                                        th:text="${s.serviceTypetName}">
                                </option>
                            </select>
                        </td>
                    </tr>

                    <td></td>
                    <td> <button class="btn btn-primary" type="submit">Submit</button></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</center>
<th:block th:replace="~{layout_for_all :: cdn-footer}"></th:block>
<th:block th:replace="~{layout_for_all :: cdn-js}"></th:block>
</body>
</html>