<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <th:block th:replace="~{layout_for_all :: head_bootstrap} "></th:block>
</head>
<body>
<th:block th:replace="~{layout_for_all ::nav_bootstrap }"></th:block>
<center>
    <h2>Services list</h2>
    <h3>
        <a th:href="@{/services/create}">Create service </a>
    </h3>

    <p th:text="${message}" style="color: red"></p>

<!--    <form th:action="@{/services}">-->
<!--        <input type="text" placeholder="search name" name="name">-->
<!--        <input type="text" placeholder="search description" name="area">-->
<!--        <input type="text" placeholder="search pool area" name="cost">-->
<!--        <input type="submit" value="Search">-->
<!--    </form>-->


    <br>
    <table class="table" border="1">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Service name</th>
            <th scope="col">Service area</th>
            <th scope="col">Service cost</th>
            <th scope="col">Max people</th>
            <th scope="col">Standard room</th>
            <th scope="col">Description other convenience</th>
            <th scope="col">Pool area</th>
            <th scope="col">Number floor</th>
            <th scope="col">Rent type</th>
            <th scope="col">Service type</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="serviceObj : ${servicess}">
            <td th:text="${serviceObj.svName}"></td>
            <td th:text="${serviceObj.svArea}"></td>
            <td th:text="${serviceObj.svCost}"></td>
            <td th:text="${serviceObj.maxPeople}"></td>
            <td th:text="${serviceObj.standardRoom}"></td>
            <td th:text="${serviceObj.descriptionOtherConvenience}"></td>
            <td th:text="${serviceObj.poolArea}"></td>
            <td th:text="${serviceObj.numberFloor}"></td>
            <td th:text="${serviceObj.rentType.rentTypeName}"></td>
            <td th:text="${serviceObj.serviceType.serviceTypetName}"></td>
            <td><a th:href="@{/services/delete(id=${serviceObj.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>

    <!--    <div>-->
    <!--        <a th:if="${productList.hasPrevious()}"-->
    <!--           th:href="@{/product(page=${productList.number - 1}, keyword=${keyVal},  keyword=${desVal})}">-->
    <!--            Previous</a>-->

    <!--        <span th:text="${productList.number + 1}"></span>-->
    <!--        /-->
    <!--        <span th:text="${productList.totalPages}"></span>-->

    <!--        <a th:if="${productList.hasNext()}"-->
    <!--           th:href="@{/product(page=${productList.number + 1},  keyword=${keyVal},keyword=${desVal})}">-->
    <!--            Next-->
    <!--        </a>-->
    <!--    </div>-->

<!--    ,  keyword=${nameSV},keyword=${description},keyword=${areas}-->
<!--    , keyword=${nameSV},keyword=${description},keyword=${areas}-->

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item ">
                <a class="page-link" th:if="${servicess.hasPrevious()}"
                   th:href="@{/services(page=${servicess.number - 1})}">Previous</a>
            </li>
            <li class="page-item">
                <span class="page-link" th:text="${servicess.number + 1}"></span>
            </li>
            <li class="page-link">/</li>
            <li class="page-item">
                <span class="page-link" th:text="${servicess.totalPages}"></span>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${servicess.hasNext()}"
                   th:href="@{/services(page=${servicess.number + 1})}">Next</a>
            </li>
        </ul>
    </nav>

    <th:block th:replace="~{layout_for_all :: footer_bootstrap}"></th:block>
    <th:block th:replace="~{layout_for_all :: js_bootstrap}"></th:block>
</center>
</body>
</html>